body {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1481627834876-b7833e8f5570?q=80&w=1528&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.cadre_text {
    background-color: #444444;
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.limit-text {
    width: 70%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 3vw;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#password-reset-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#new_password {
    outline: none;
    background-color: #D9D9D9;
    border: none;
    height: 50px;
    font-size: 30px;
    padding-left: 5px;
    font-weight: bold;
}

#new_password::placeholder {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.35);
}

#confirm_password {
    outline: none;
    background-color: #D9D9D9;
    border: none;
    height: 50px;
    font-size: 30px;
    padding-left: 5px;
    font-weight: bold;
    height: 50px;
    margin-top: 10px;
}

#confirm_password::placeholder {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.35);
    font-size: 22px;
}

input {
    height: 40px;
    border: none;
    margin-top: 5px;
    font-size: 25px;
    outline: none;
    background-color: #D9D9D9;
}

#error {
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 400;
    color: #FF0000;
    margin-top: 10px;
    visibility: hidden;
}

#sub {
    background-color: #D9D9D9;
    border: none;
    height: 60px;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 120px;
}

footer {
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.squ {
    display: flex;
    justify-content: center;
    align-items: center;
}

.squ2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#voir_mdp {
    height: 50px;
    width: 50px;
    margin-top: 7px;
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    border: none;
    margin-left: 5px;
    background-color: #D9D9D9;
    cursor: pointer;
}

#voir_mdp2 {
    height: 50px;
    width: 50px;
    margin-top: 7px;
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    border: none;
    margin-left: 5px;
    background-color: #D9D9D9;
    cursor: pointer;
}

@media only screen and (min-width: 300px) and (max-width: 430px) {
    #new_password {
        outline: none;
        background-color: #D9D9D9;
        border: none;
        height: 30px;
        font-size: 18px;
        padding-left: 5px;
        font-weight: bold;
        margin-top: 40px;
    }

    #confirm_password {
        outline: none;
        background-color: #D9D9D9;
        border: none;
        height: 30px;
        font-size: 18px;
        padding-left: 5px;
        font-weight: bold;
        margin-top: 30px;
    }

    #confirm_password::placeholder {
        font-size: 13px;
    }

    #sub {
        background-color: #D9D9D9;
    border: none;
    height: 30px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 70px;
    }

    #error {
        font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
        font-weight: 400;
        color: #FF0000;
        margin-top: 10px;
        font-size: 11px;
        visibility: hidden;
    }

    .limit-text {
        width: 70%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    .footer-text {
        font-size: 9px;
    }

    .cadre_text {
        background-color: #444444;
        font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
        font-weight: 800;
        text-align: center;
        height: 150px;
    }

    .text {
        font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
        font-weight: 600;
        color: white;
        font-size: 5vw;
    }

    #voir_mdp {
        height: 30px;
        width: 30px;
        margin-top: 40px;
        font-size: 7px;
        font-weight: bold;
        padding: 0;
        border: none;
        margin-left: 5px;
        background-color: #D9D9D9;
        cursor: pointer;
    }

    #voir_mdp2 {
        height: 30px;
        width: 30px;
        margin-top: 30px;
        font-size: 7px;
        font-weight: bold;
        padding: 0;
        border: none;
        margin-left: 5px;
        background-color: #D9D9D9;
        cursor: pointer;
    }
}

@media only screen and (min-width: 431px) and (max-width: 480px) {
    #new_password {
        height: 45px;
        font-size: 20px;
    }

    #confirm_password {
        height: 45px;
        font-size: 20px;
    }

    #voir_mdp {
        height: 45px;
        width: 45px;
        margin-top: 7px;
        font-size: 10px;
        font-weight: bold;
        padding: 0;
        border: none;
        margin-left: 5px;
        background-color: #D9D9D9;
        cursor: pointer;
    }

    #voir_mdp2 {
        height: 45px;
        width: 45px;
        margin-top: 8px;
        font-size: 10px;
        font-weight: bold;
        padding: 0;
        border: none;
        margin-left: 5px;
        background-color: #D9D9D9;
        cursor: pointer;
    }
}